header {
    margin-top: 20px;
    text-align: center;
    border: 2px solid #0084ff;
    border-radius: 1.2em;
    font-family: 'Roboto', sans-serif;
}

#name {
    display: inline-block;
}

.content {
    max-width: 750px;
    margin: 0 auto;
}

main {
    padding: 10px;
    font-family: 'Yusei Magic', sans-serif;
}

#lastUpdate {
    display: inline;
}

footer {
    margin: 0 auto;
    text-align: center;
    border: 2px solid #0084ff;
    border-radius: 1.2em;
    vertical-align: middle;
    line-height: 0.6;
    padding-bottom: 14px;
}

#pic1 {
    width: 120px;
    border-radius: 1.1em;
    box-shadow: 5px 5px 20px grey;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}