body {
    font-family: 'Ubuntu', sans-serif;
}

table {
    box-shadow: 10px 10px 20px #628ca6;
}

table, th, td {
    width: 350px;
    border: 2px solid lightgrey;
    border-collapse: collapse;
    text-align: center;
}

tr td {
    font-size: 18px;
}

tr:nth-child(2), tr:nth-child(6) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}

tr:nth-child(2) {
    font-weight: bold;
}

tr:nth-child(2n+3) {
    background-color: #e7f0ed;
}

tr:nth-child(2n+4) {
    background-color: #e7ffed;
}

tr:nth-child(7) td:first-child {
    font-style: italic;
}

tr td:first-child {
    padding: 10px 0;
}

tr td:nth-child(2) {
    padding: 10px 0;
}

th, td {
    padding: 10px 15px;
}

.heading {
    font-size: 32px;
}

.heading, .footer {
    background-color: #7fb9c2;
}