@media only screen and (min-width: 64rem) {

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation {
        margin: 0 auto;
        padding: 20px;
        
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: inline;
        text-align: center;
        
    }

    .navigation li a {
        display: inline;
        color: black;
        padding: 20px;
        text-decoration: none;
        font-size: 0.9rem;
        text-align: center;
    }

    .headings h1 {
        font-size: 50px;
    }
    
    .headings div {
        font-size: 30px;
    }

    .contentbox {
        margin: 10px 15%;
        border: 1px solid black;
        background-color: #eee;
    }
} 