@media only screen and (min-width: 64rem) {

    .menu-button {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .site-title-left {
        width: 50%;
    }

    /*--------Dropdown Nav---------*/

    .dropdown-nav {
        display: none;
    }

    /*---------Large Nav---------*/

    .large-nav {
        display: block;
        width: 50%;
        margin: 0;
        padding: 0px;
        text-align: right;
        float: right;
    }

    .large-nav ul {
        padding: 0;
    }

    .large-nav li {
        display: inline;
    }

    .large-nav li a {
        display: inline;
        color: black;
        padding: 10px;
        text-decoration: none;
        font-size: 1.2rem;
        text-align: center;
    }

    .large-nav li a:hover {
        font-style: italic;
    }

    .large-nav li.active a {
        color: #3C6E71;
        font-weight: 1000;
        font-style: normal;
    }

    .headings h1 {
        font-size: 23px;
    }

    .three-days {
        float: right;
    }

    .article {
        max-width: 90%;
        margin: 20px auto;
    }

    .article img {
        width: 28%;
        float: right;
    }

    .partners {
        max-width: 90%;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery figure:hover {
        box-shadow: 8px 8px 25px rgb(32, 32, 32);
    }
    
    /*----------form----------*/
    form {
        width: 70%;
    }

    /*----------Directory Business Cards----------*/
    .grid-list-icon {
        width: 70%;
        margin: 0 auto;
        display: block;
    }

    .grid-list-icon img {
        width: 30px;
        margin: 10px;
    }

    .cards-wrap {
        width: 70%;
        margin: 0 auto;
    }

    .business-cards {
        margin: 0 auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .business-cards section {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        display: block;
        background-color: #D9D9D9;
    }

    .business-cards div {
        text-align: center;
        margin: auto 0;
    }

    .business-cards img {
        width: 60%;
        padding: 20px;
    }

    .business-cards h2 {
        font-size: 35px;
        margin: 0;
    }

    /*-----------------------------home----------------------------*/
    #contact-map {
        float: right;
    }
} 